@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Montserrat&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Montserrat&family=Roboto&family=Work+Sans&display=swap');


$base-color: #0071BA;
$second-color: #42474D;
$third-color: #EEF3F5;

$montserrat: 'Montserrat';
$robotto: 'Roboto', sans-serif;



