@import "main.scss";

.container{
  .title-block{
    margin: 40px 0 40px 0;
  
      text-align: center;
      .title{
        font-size: 44px;
        font-weight: 600;
        font-family: $montserrat;
        color: #42474D;
        margin: 0;
      }
  
      .blue-line {
        display: flex;
        justify-content: center;
        height: 10px;
        margin-bottom: 30px;
      
        div {
            text-align: center;
            width: 100px;
            height: 10px;
            border-bottom: 4px solid $base-color;
            margin-top: -10px ;
        }
      }
    }

  .movies-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    .movie{
      width: 100%;

      .image{
        width: 100%;
        img{
          width: 100%;
          max-height: 200px;
          border-radius: 8px;
        }
      }

      .content{

        .title-rating{
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          h2{
            color: $base-color;
            font-size: 24px;
            font-family: $robotto;
            font-weight: 600;
          }
         
        }
        .movie-text{
          font-size: 18px;
          font-family: $robotto;
          margin-bottom: 10px;

          span{
            color: $base-color;
          }
        }
        .date{
          font-size: 14px;
          font-weight: 600;
          color: $second-color;
          display: flex;
          justify-content: space-between;

          p{
            margin-right: 3px;
            font-weight: 600;
            color: $second-color;
            font-size: 14px;
            margin: 0;

            span{
              background-color: $base-color;
              border-radius: 5px;
              padding: 1px 8px;
              color: #fff;
            }
          }

          div{
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }
}

.dot {
  height: 8px;
  width: 8px;
  background-color: $base-color;
  border-radius: 50%;
  display: inline-block;
}

.css-95xr75-MuiGrid-root{
  display: flex!important;
  flex-direction: column!important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  width: 110px!important;
}

@media only screen and (max-width: 900px) {
  .container .title-block .title{
    font-size: 28px;
  }
  .container .movies-block .movie .content .title-rating h2{
    font-size: 18px;
  }

  .container .movies-container .movie .content .title-rating h2{
    font-size: 18px;
  }

  .container .movies-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 440px) {
  .container .movies-container{
    grid-template-columns: 1fr;
  }
}
